<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
  <p><a href="/profiles/">profiles</a> | <a href="/auth/logout">logout</a> | <a href="/profiles/me">edit profile</a> | <a href="/profiles/posts_form">post</a> | <a href="/profiles/posts">posts</a></p>
  <hr />
  <form method="get" action="/profiles/search">
    <input type="text" name="first_name" placeholder="First name prefix" />
    <input type="text" name="last_name" placeholder="Last name prefix" />
    <input type="submit" value=">>>" />
  </form>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>