{% extends "base.html" %}
{% block title %}Profiles{% endblock %}

{% block content %}
    {{ my_profile.first_name }} {{ my_profile.last_name }}

    {% if profiles %}
        <ul>
            {% for profile in profiles %}
            <li><a href="/profiles/{{ profile.user_id  }}">{{ profile.first_name }} {{ profile.last_name }} {{ "Following" if profile.is_followed }}</a></li>
            {% endfor %}

        </ul>
    {% else %}
        <p>There are no users in our network yet</p>
    {% endif %}
<hr />
<p>Newsfeed:</p>
<div id="newsfeed">
</div>

<script language="JavaScript">
function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
    s = getCookie("AIOHTTP_SESSION")
    u = s.replace("\\054",",").replaceAll('\\', '').replace('\"{', '{').replace('}\"', '}')
    u = JSON.parse(u)
    user_id = u['session']['AIOHTTP_SECURITY']

function getWebSocketUrl() {
    port = window.location.port;
    if (port == '80' || port == '443') {
        port = '';
    } else {
        port = ':' + port
    }
    return 'ws://' + window.location.hostname + port + '/profiles/ws';
}

function connect() {
  var ws = new WebSocket(getWebSocketUrl());
  ws.onopen = function() {
    ws.send(user_id);
  };

  ws.onmessage = function(event) {
        el = document.getElementById('newsfeed');
        el_html = el.innerHTML;
        el_html = event.data + '\n' + el_html;
        el.innerHTML = el_html;
    };

  ws.onclose = function(e) {
    console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
    setTimeout(function() {
      connect();
    }, 1000);
  };

  ws.onerror = function(err) {
    console.error('Socket encountered error: ', err.message, 'Closing socket');
    ws.close();
  };
}

connect();


</script>

{% endblock %}
