{% extends "base.html" %}
{% block title %}Profiles{% endblock %}

{% block content %}
    {% if profiles %}
        <ul>
            {% for profile in profiles %}
            <li><a href="/profiles/{{ profile.user_id  }}">{{ profile.first_name }} {{ profile.last_name }} {{ profile.is_followed }}</a></li>
            {% endfor %}

        </ul>
    {% else %}
        <p>There are no users in our network yet</p>
    {% endif %}
<div id="newsfeed">
    <hr />
    <p>Newsfeed:</p>
</div>

<script language="JavaScript">
function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
    s = getCookie("AIOHTTP_SESSION")
    u = s.replace("\\054",",").replaceAll('\\', '').replace('\"{', '{').replace('}\"', '}')
    u = JSON.parse(u)
    user_id = u['session']['AIOHTTP_SECURITY']

    ws = new WebSocket('ws://localhost:3000/profiles/ws');
    ws.onopen = function(event) {
        ws.send(user_id)
    };
    ws.onmessage = function(event) {
        el = document.getElementById('newsfeed');
        el_html = el.innerHTML;
        el_html = el_html + '\n' + event.data;
        el.innerHTML = el_html;
    };


</script>

{% endblock %}